<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
</head>
<body>
    <center>
        <h1>
            Mi nombre es Guillermo Martin Chaparro, creador de esta pagina web utilizando tengologia python/Django
            Tengo 21 años y estoy en el camino de la programacion esperando tener buenos resutados con estos primeros proyectos
            link de video: https://www.loom.com/share/7e70477a1f2e48899713ac5ae83ed038
        </h1>
    </center>
</body>
</html>